@font-face {
    font-family: 'monolith';
    src: url("../fonts/monolith-freebie-unio/MonolithFreebie-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: 'monolith';
    font-weight: bold;
    src: url("../fonts/monolith-freebie-unio/MonolithFreebie-LightItalic.otf") format("opentype");
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding: 0;
    font-family: Arial;
    min-height: 100vh;
    max-width: 1400px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
}

footer {
    background-color: #4e75b6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    margin-top: auto;
}

footer > a {
    color: black;
    text-decoration: underline solid rgba(168, 139, 109, 0);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
}

footer > a.active {
    text-decoration: underline solid #a88b6d;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 3px;
}

footer > a:hover {
    color: black;
    text-decoration: underline solid rgba(168, 139, 109, 1);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
    transition: text-decoration-color 400ms;
}

main {
    padding-bottom: 50px;
}

nav {
    background-color: #4e75b6;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: sticky;
    top: 0;
}

.nav-inner {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

nav > .nav-inner {
    font-size: 18px;
    text-decoration: none;
}

nav > .nav-inner > a.active {
    text-decoration: underline solid #a88b6d;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
}

nav > .nav-inner > a.inactive {
    text-decoration: underline solid rgba(168, 139, 109, 0);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
    color: black;
}

nav > .nav-inner > a.inactive:hover {
    text-decoration: underline solid rgba(168, 139, 109, 1);
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
    transition: text-decoration-color 400ms;
}

#header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#header-contact {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 30px;
}

#header-word1 {
    color: #4e75b6;
    margin-right: -15px;
}
#header-word2 {
    color: #a88b6d;
}

#headlines {
    background-image: url("../photos/man-drilling-wooden-plank.jpg");
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}

.headlines-text {
    width: 30%;
    padding-bottom: 100px;
    font-size: 120%;
}

.headlines-text *{
    margin: 8px;
}

#logo-image {
    width: 129px;
    height: 70px;
    margin-right: 20px;
}

#news-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.news-post {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 5px;
}

#service-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -100px;
}

.service-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: #4e75b6;
    box-shadow: 5px 5px 8px black;
    border: solid white 2px;
}

.service-box > img {
    aspect-ratio: 6/4;
}

.service-box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 10px 30px 20px 30px;
}

.service-box > div > h2 {
    font-size: 175%;
}

.service-box > div > p {
    font-size: 150%;
}

.service-box > div > a {
    font-size: 150%;
    font-weight: bold;
    color: #a88b6d;
    text-decoration: underline solid rgba(168, 139, 109, 0);
}

.service-box > div > a:hover {
    text-decoration: underline solid rgba(168, 139, 109, 1);
    transition: text-decoration-color 400ms;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 3px;
}

#service-map {
    padding: 50px 0 50px 0;
    max-width: 1400px;
}

#service-map-text {
    font-size: 150%;
}

#site-map-container {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

#site-map-table tr > th {
    padding: 5px 0 5px 0;
    text-align: left;
}

#site-map-table tr > td {
    padding: 5px 30px 5px 0;
}